bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
.vscode/
GoodExpense.Expenses.API/Logs/
GoodExpense.Users.API/Logs/
GoodExpense.Notification.API/Logs/
GoodExpense.Invoicing.API/Logs/
